html{
    height: 100%;
    /*box-sizing: border-box;*/
}

body{
    margin: 0px;
    padding: 0px;
    position: relative;
    min-height: 100%;
    color: #484848;
    /*box-sizing: inherit;*/
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container{
    max-width: 1000px;
    margin: 30px auto;
}